* {
    margin: 0;
    padding: 0;
}
.contenedor {
    background: #ccc;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /* Flexbox */
    display: flex;
    flex-flow: row wrap;
}
body {
    background: #2B2B2B;
}
header {
    width: 100%;
}
header nav {
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    background: #F93C15;
}
.menu_bar {
    display: none;
}
header nav ul {
    overflow: hidden;
    list-style: none;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    color: #fff;
    padding: 15px;
    display: block;
    text-decoration: none;
}
header nav ul li span {
    margin-right: 10px;
}
header nav ul li a:hover {
    background: #464646;
}
@media screen and (max-width:800px) {
    header nav {
        width: 70%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    .menu_bar {
        display: block;
        width: 100%;
        background: #ccc;
    }
    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: #F93C15;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
}
.main {
    padding: 20px;
    flex: 1 1 70%;
    background: #ccc;
    /*flex:1;*/
}
.main article {
    margin-bottom: 20px;
    padding-bottom: 100%;
}
@media screen and (max-width:800px) {
    .main article {
        padding-bottom: 100%;
    }
}